<div class="list-group">
    {{#each cookbooks as |cookbook|}}
    <a href="/app/cookbook/{{cookbook.id}}">
        <button type="button" class="list-group-item list-group-item-action">{{cookbook.title}}</button>
    </a>
    {{/each}}
</div>