<div class="row mb-3">
    <div class="col-10"><input class="form-control editors" type="text" id="editors" name="editors"
            placeholder="{{user_id}}" value="{{user_id}}" required="">
    </div>

    <div class="col-2 d-flex align-items-center justify-content-center">
        <img class="plus-img" onclick="addRemoveEditors" width="30" height="30" src="https://img.icons8.com/color/48/plus--v1.png" alt="plus--v1">
        <img class="minus-img" onclick="addRemoveEditors" width="30" height="30" src="https://img.icons8.com/color/48/minus.png" alt="minus">
    </div>
</div>