<div class="app-main">
    <h2>Placeholder Info</H2>
    <h3>Cookbook: {{ title }}</h3>
    <h3>Recipes:</h3>
    <ul>
    {{!-- {{#each recipes as |recipe| }}
    <li>{{recipe.id}} | {{recipe.title}}</li>
    {{/each}} --}}
    </ul>
    
</div>