<div class="row d-flex justify-content-center">
    {{!-- Recipe Update (PUT request) --}}
    <div class="form-container col-md-4">
        <form class="form">

            <h1 class="username" data-user-id="2" data-recipe-id="{{recipe.id}}">Update a Recipe</h1>
            <div class="row">

                <div class="mb-3 col-6">
                    <input class="form-control" type="text" id="title" name="title"
                        placeholder="{{recipe.title}}">
                </div>
            </div>

            <div class="mb-3">
                {{#each recipe.ingredients}}
                <input class="form-control ingredients" type="text" name="ingredients"
                    placeholder="{{this}}">
                {{/each}}
            </div>

            <div class="mb-3">
                {{#each recipe.directions}}
                <input class="form-control directions" type="text" name="directions"
                    placeholder="{{this}}">
                {{/each}}
            </div>


            <div class="mb-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>
</div>
<script src="../../../js/recipeUpdate.js"></script>