<link rel="stylesheet" href="/css/app-home.css">
<div class="app-main">
    {{!-- <h3>Cookbook: {{ title }}</h3> --}}
    <div class="card w-75 mb-3">
        <div class="card-body">
            <h5 class="card-title">{{error.code}}</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{error.message}} </li>
                </li>
            </ul>
        </div>

</div>