<head>
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">
</head>
{{!-- <div class="container">
    <h1>Let's Get Cooking!</h1>
    <br>
    <a href="/signup">
        <h2>Sign up</h2>
    </a>
    <a href="/login">
        <h2>Log In</h2>
    </a>
</div> --}}
<p class="welcome">Welcome to</p>
<h1 class="tastebuds">TasteBuds</h1>
<h2>Create and Share recipes with your friends!</h2>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        {{!-- <h6 class="card-subtitle mb-2 text-body-secondary">Join Tastebuds today!</h6> --}}
        <p class="card-text">New User?</p>
        <a class="btn" href="/signup">
            <h3>Create an Account</h3>
        </a>
        <br>
        <p class="card-text">Already Have an Account?</p>
        <a class="btn" href="/login">
            <h3>Log In</h3>
        </a>
    </div>
</div>