<div class="row d-flex justify-content-center">
    <link rel="stylesheet" href="/css/signup-login.css">
    {{!-- Login --}}
    <div class="form-container col-md-4">
        <form class="form login-form">
            <h1>Welcome!</h1>
            <p class="form-subtitle">Please sign in to continue.</p>
            <div class="mb-3">
                <input class="form-control" type="text" placeholder="Username" id="username" name="username" aria-label="username input" required>
            </div>
            <div class="mb-3">
                <input class="form-control" type="password" placeholder="Password" id="password" name="password" aria-label="password input" required>
            </div>
            <div class="mb-3 d-flex justify-content-center">
                <button type="submit" class="btn  btn-primary">Login</button>
            </div>
        </form>
    </div>
    <script src = './js/login.js'></script>
</div>