<div class="row d-flex justify-content-center">
    <link rel="stylesheet" href="/css/signup-login.css">
    {{!-- Sign Up --}}
    <div class="form-container col-md-4">
        <form class="form">
            <h1>Create a New Account</h1>
            <div class="row">
                <div class="mb-3 col-6">
                    <input class="form-control" type="text" id="fname" name="fname" required placeholder="First Name">
                </div>
                <div class="mb-3 col-6">
                    <input class="form-control" type="text" id="lname" name="lname" required placeholder="Last Name">
                </div>
            </div>
        <div class="mb-3">
            <input class="form-control" type="text" id="email" name="email" required placeholder="Email">
        </div>
        <div class="mb-3">
            <input class="form-control" type="text" id="username" name="username" required placeholder="Username">
        </div>
        <div class="mb-3">
            <input class="form-control" type="password" id="pwd" name="pwd" required placeholder="Password">
        </div>
        <div class="mb-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
        </form>
    </div>
</div>
<script src="./js/signup.js"></script>