@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
    font-family: 'Quicksand';
}

:root {
    --drkgrn: #071E22;
    --grn: #1d7874;
    --ltgrn: #679289;
    --tan: #F4C095;
    --red: #ff523b;
    --linen: #EFE6DD;
}

a {
    text-decoration: none;
}
.navbar-brand {
    color: #ff523b;
    font-family: 'Chewy', system-ui;
    font-size: 23px;
    text-shadow: 2px 2px 2px white;
}

.alert{
    font-family: 'Hind Siliguri', sans-serif;
}

.navbar{
    background-color: #aecdc9;
}

.nav-link{
    font-family: 'Hind Siliguri', sans-serif;
}

.dropdown-item{
    font-family: 'Hind Siliguri', sans-serif;
}

.border-blue {
    border: 2px solid blue;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

