:root {
    --drkgrn: #071E22;
    --grn: #1d7874;
    --ltgrn: #679289;
    --tan: #F4C095;
    --red: #ff523b;
    --linen: #EFE6DD;
}

body{
    background-image: url(/assets/Images/Untitled\ design.png);
    background-position-x: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    font-family:'Chewy', system-ui;
    font-size: 28px;
    margin-bottom: 25px;
    color: var(--grn);
}

.card{
    margin-top: 10px;
    background-color: var(--linen);
    width: 100%;
    box-shadow: 2px 2px 10px gray;
    padding-bottom: 50%;
}

.list-group-item{
    font-size: 18px;
    text-align: left;
    font-family: 'Hind Siliguri', sans-serif;
}

.subheader{
    font-family:'Hind Siliguri', sans-serif;
    font-size: 12px;
    color: gray;
}