:root {
    --drkgrn: #071E22;
    --grn: #1d7874;
    --ltgrn: #679289;
    --tan: #F4C095;
    --red: #ff523b;
    --linen: #EFE6DD;
}

body{
    /* background-color: var(--red); */
    background-image: url(/assets/Images/signin.png);
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-size: 35px;
    font-family: 'Chewy', system-ui;
    color: var(--red);
    text-shadow: 3px 2px 2px white;
}

h2 {
    font-family: 'Hind Siliguri', sans-serif;
}

p {
    font-family: 'Hind Siliguri', sans-serif;
}

form, #activation-prompt {
    min-height: 50vh;
    min-width: 80%;
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25%;
    border-radius: 10%;
    background-color: var(--linen);
}

.form-control {
    border-radius: 25px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-subtitle {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 15px;
    text-align: center;
}

.btn{
   background-color: var(--ltgrn); 
   border-color: #679289;
   font-family: 'Hind Siliguri', sans-serif;
   font-size: 18px; 
}

.form-control{
    font-family: 'Red Hat Display', sans-serif;
}
